* {
  background-color: #f8f3eb; //border: 1px solid black;
  font-family: 'Arial';
  text-align: -webkit-center;
  margin: auto;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 400%;
}

p {
  width: 80%;
  font-size: 150%;
}

.hero {
  margin: auto;
  margin-bottom: 1%;
  width: 100%;
}

.hero img {
  display: block;
  width: 30%;
  margin: auto;
}

#headline {
  color: coral;
  text-shadow: 1px 1px black;
  font-family: 'Tangerine', serif;
  font-size: 500%;
  text-align: -webkit-center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 50%;
}

#subline {
  padding: 1%;
  box-shadow: 0px 2px 2px grey, 0px -1px grey;
  text-shadow: 1px 1px black;
  background-color: pink;
  color: white;
  font-family: 'Tangerine', serif;
  font-size: 350%;
  text-align: -webkit-center;
  margin: auto;
  margin-top: 2%;
  width: 100%;
}

#subline #bigCookie {
  display: inline-block;
  background-color: pink;
  width: 3%;
}

.locations {
  padding: 3%;
  box-shadow: 0px 2px 2px grey, 0px -1px grey;
  border-top: 5px solid pink;
  border-bottom: 5px solid pink;
  background-color: coral;
  margin-top: 3%;
  margin-bottom: 5%;
}

.locations h2 {
  margin-bottom: 1%;
  width: 30%;
  border-bottom: 5px solid pink;
  background-color: coral;
  color: pink;
  text-shadow: 1px 1px black;
  font-family: 'Tangerine', serif;
  font-size: 350%;
}

.locations p {
  background-color: coral;
  font-size: 150%;
}

#storeResults ul {
  font-size: 30px;
  font-family: monospace;
}

#storeResults ul li {
  border: 1px solid black;
  font-size: 16px;
  font-family: monospace;
}

#storeResults ul p {
  font-size: 20px;
  font-family: monospace;
}

#salesTable {
  width: 80%;
  border: 5px solid pink;
  background-color: coral;
  margin: 1%;
  box-shadow: -1px 1px 1px grey, 1px 1px 1px grey, -1px -1px 1px grey, 1px -1px 1px grey;
}

th {
  font-family: monospace;
  font-size: 130%;
  margin: 1%;
  padding: 1%;
}

td:first-child {
  font-weight: bold;
  font-size: 130%
}

td {
  font-size: 120%;
  margin: 1%;
  font-family: monospace;
  padding: 1%;
}
